.category-header {
  position: sticky;
  top: 0px;
  background-color: #eee;
  z-index: 1;
  padding: 1em .5em;
  color: #fff;
  font-size: .9em;
}

.cider {
  background-color: #AA3939;
}

.fruit {
  background-color: #246B61;
}

.specialty-strong {
  background-color: #804515;
}

.barleywine {
  background-color: #AA4D39;
}

.dark {
  background-color: #384356;
}

.pale {
  background-color: #D4CF6A;
}

.porter {
  background-color: #323017;
}

.experimental {
  background-color: #8B3063;
}

.wild-brett {
  background-color: #249797;
}

.wild-sour-acidic {
  background-color: #2CBA57;
}

.wild-sour-fruit {
  background-color: #7331A9;
}

.medal.gold {
  background-color: #FCD83B;
}

.medal.silver {
  background-color: #A5A4A0;
}

.medal.bronze {
  background-color: #AF803E;
}
